modules = ["nodejs-24", "postgresql-16", "python-base-3.13", "go-1.25"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]

[userenv.development]
HUB_ADMIN_EMAILS = "paulocpmar@gmail.com,paulo.porto@pucpr.br"

[userenv.production]
HUB_ADMIN_EMAILS = "paulocpmar@gmail.com"
